/*
 * Google Fonts
 * Families: Rajdhani:400,400i,700,700i|Open+Sans:400,400i,700,700i
 */

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 300;
    src: local('Rajdhani Light'), local('Rajdhani-Light'), url(fonts/Rajdhani/Rajdhani-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: local('Rajdhani Regular'), local('Rajdhani-Regular'), url(fonts/Rajdhani/Rajdhani-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    src: local('Rajdhani Medium'), local('Rajdhani-Medium'), url(fonts/Rajdhani/Rajdhani-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'), url(fonts/Rajdhani/Rajdhani-SemiBold.ttf) format('opentype');
}

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    src: local('Rajdhani Bold'), local('Rajdhani-Bold'), url(fonts/Rajdhani/Rajdhani-Bold.ttf) format('opentype');
}



@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/Open_Sans/OpenSans-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/Open_Sans/OpenSans-Italic.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/Open_Sans/OpenSans-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format('opentype');
}